[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icrawler = "*"
opencv-python = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
tensorflow = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
